@page
@model JOURModel
@{
    ViewData["Title"] = "Joursferies";
}

<form method="post">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Year Included</th>
                <th>User IDs</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Dates.Count; i++)
            {
                <tr>
                      @Html.HiddenFor(x => Model.Dates[i].Id, new { Id = $"Model.Dates.{i}.Id" })
                    <td>
                         @Html.TextBoxFor(x => x.Dates[i].Date, new {  @class = "form-control", required = "required" ,value = Model.Dates[i].Date.ToString("yyyy-MM-dd")})
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.Dates[i].YearIncluded)
                    </td>
                    <td>
                        @for (var j=0 ; j < Model.UserIdcollection.Count ; i++) {
                            @Html.TextBoxFor(x => Model.UserIdcollection.ElementAt(j), new { @class = "form-control" })
                        } 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit</button>
    <button type="ajouter">ajouter un jour férié</button>
</form>
